In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("Data.xlsx",sheet_name = "Day 1")

In [3]:
df

   Product_ID   Product  Units_Sold  Revenue
0         101       Pen         500     7500
1         102  Notebook         300    12000
2         103    Pencil         200     2500
3         104    Marker         150     6000
4         105    Eraser         100      500
5         106    Bottle         700    14000

In [ ]:
df = df[(df['Units_Sold'] > 400 ) | (df['Revenue'] > 10000)][['Product_ID', 'Units_Sold', 'Revenue']]

In [8]:
df

   Product_ID  Units_Sold  Revenue
5         106         700    14000